<div class="container">
  <div class="row justify-content-between login">
    <div class="col-xl-4 col-md-6 col-sm-10 align-self-center animate__animated animate__backInDown">
      <h1>Las Cronicas Del Merodeador.</h1>
      <p>Conoce la mejor y mas confiable libreria virtual de Bogotá.</p>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-10 align-self-center container-logo p-5 animate__animated animate__backInDown">
      <h4 class="text-center">Ingresar a la sesión.</h4>
      <div class="logo-login mt-3 mb-3">
        <img src="../../img/login.jpg" alt="">
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" autocomplete="off">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="usuario">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
          <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary animate__animated animate__repeat-3 animate__pulse animate__delay-2s">Ingresar</button>
      </form>
    </div>
  </div>
</div>
