<div class="container-fluid fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand">Libreria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!token">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Login</a>
          </li>
          <li class="nav-item" *ngIf="token">
            <a  routerLink="libros" routerLinkActive="active" class="nav-link">Libros</a>
          </li>
          <li class="nav-item" *ngIf="token">
            <a  routerLink="orden" routerLinkActive="active" class="nav-link">Orden</a>
          </li>
          <li class="nav-item" *ngIf="token">
            <a routerLink="auditoria" routerLinkActive="active" class="nav-link">Auditoria</a>
          </li>
          <li class="nav-item" *ngIf="token">
            <a (click)="logOut()" routerLink="salir" routerLinkActive="active" class="nav-link">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
