<div class="row pt-5 users ">
  <div class="col-12 pt-5 animate__animated animate__backInDown">
    <h2>Lista de Usuarios.</h2>
    <div class="d-grid gap-2">
      <button type="button" routerLink="/auditoria" class="btn  btn-success">Ver ingresos de sesión.</button>
    </div>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-hover mt-3 text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
          </tr>
        </thead>
        <tbody class="animate__animated animate__backInDown rounded">
          <tr *ngFor="let item of users; let i = index">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
